SNOWFLAKE_ACCOUNT=        # e.g. xy12345.eu-west-1
SNOWFLAKE_USER=
SNOWFLAKE_PASSWORD=
SNOWFLAKE_ROLE=           # e.g. SYSADMIN
SNOWFLAKE_WAREHOUSE=      # e.g. COMPUTE_WH
SNOWFLAKE_DATABASE=IBU
SNOWFLAKE_SCHEMA=RACES
